.header_height .navbar {
	height: 6em !important;
	margin-bottom: 0px !important;
}

.header_height {
	height: 6em !important;
}

.modal-backdrop {
	top: 5.5% !important;
	left: 18% !important;
	right: 18% !important;
}

#sandbox-container .table-condensed {
	background-color: rgb(252, 244, 244);
	border-radius: 10px;
}

.col-md-5 {
	width: auto;
}

#footer {
	clear: both;
	height: 5em;
	margin: 0 auto;
	background-color: #000000;
	width: 100%;
	color: #a8a8a7;
	font-size: 75%;
	text-align: center;
	z-index: 1000;
	bottom: 0px;
	position: fixed;
	left: 0;
}

.left-section textarea {
	display: block;
	padding: 25px 25px 40px;
	margin: 0 auto 20px auto;
	width: 235px;
	height: 250px;
	font: 20px 'Gloria Hallelujah', cursive;
	line-height: 1.5;
	border: 0;
	border-radius: 3px;
	background: -webkit-linear-gradient(#F9EFAF, #F7E98D);
	background: -moz-linear-gradient(#F9EFAF, #F7E98D);
	background: -o-linear-gradient(#F9EFAF, #F7E98D);
	background: -ms-linear-gradient(#F9EFAF, #F7E98D);
	background: linear-gradient(#F9EFAF, #F7E98D);
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	overflow: hidden;
	transition: box-shadow 0.5s ease;
	font-smoothing: subpixel-antialiased;
	max-width: 520px;
	max-height: 250px;
	
	
	/* Rotate div */
    -ms-transform: rotate(-3deg); /* IE 9 */
    -webkit-transform: rotate(-3deg); /* Chrome, Safari, Opera */
    transform: rotate(-3deg);
}

.left-section textarea:hover {
	box-shadow: 0 5px 8px rgba(0, 0, 0, 0.15);
}

.left-section textarea:focus {
	box-shadow: 0 5px 12px rgba(0, 0, 0, 0.2);
	outline: none;
}

body {
	background: url(http://subtlepatterns.com/patterns/little_pluses.png)
		#cacaca;
	margin: 30px;
}